@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav styles */
.color1{
    color: rgb(71, 71, 71);
}
.btn-primary{
border-radius: 5px;
background-color: rgb(253, 110, 10);
font-size: 20px;
font-weight: 700;
padding: 18px 35px;
color: rgb(255, 255, 255);
border: none;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.nav-r{
    color: rgb(253, 110, 10);
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
text-decoration: none;
font-size: 20px;
}

/* <<<<<<<<banner-section>>>>>>>> */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 160px;
}
.banner-content{
max-width: 580px;
}
.banner-greetings{
font-size: 20px;
font-weight: 600;  
     
}
.banner-title{
font-size: 45px;
font-weight: 700;
color: rgb(24, 24, 24);
}
.banner-description{
color:rgb(117, 117, 117);
font-size: 14px;
font-weight: 400;

}

.banner-profile-pic{
max-width: 580px;
}

/* <<<<<<<bannner image>>>>>>>>> */
.header{
    background-image: url("../images/developer.png"),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* <<<<<<<main styles>>>>>>>>> */
main{
max-width: 1140px;
margin: 0 auto;
}

/* <<<<<Second Section>>>>> */
.section-title{
font-weight: bold;
font-size: 30px;
color: rgb(24, 24, 24);
text-align: center;
}
.section-description{
color: rgb(117, 117, 117);
font-size: 16px;
font-weight: 400;
}
.secondary-bg{
background-color:rgb(255, 248, 243)
}
.about{
border-radius: 10px;
padding: 130px 150px;
margin-top: 130px;
}
.about-items{
display: flex;
justify-content: space-around;
}
.item-description{
font-weight: bold;
}

/* <<<<<<skill section>>>>>>>>> */

.skill-container{
display: flex;
margin-top: 20px;
gap:20px;
}
.skills{
padding: 150px 90px;
margin-top: 20px; 
}
.skill-description{
color: rgb(117, 117, 117);
}
.skill{
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 20px;
}

/* <<<<<<<resume section>>>>>>>>> */
.resume-container{
display: flex;
gap: 24px;
margin: 20px 100px 80px;
}

.resume-column-title,.experience-title{
color:rgb(71, 71, 71);
}
.experience-subtitle{
color:rgb(117, 117, 117);
}
.experience-description{
color:rgb(117, 117, 117);
opacity: 0.9;  
}
.resume hr{
margin: 30px 5px;
}
.btn-download-cv{
text-align: center;
}